<div id="section2" >
  <h2 class="Exp-sec popup-up-section">Experience</h2>

  <div class="Exp-div popup-up-section">
    <div class="Exp-top">
      <div class="Exp-position">
        <h5>Frontend Developer Intern</h5>
        <h6>XYZ</h6>
      </div>
      <div class="Exp-date">
        <h6>May 2025 - Present</h6>
      </div>
    </div>

    <li>Working on frontend development.</li>

    <div class="Exp-tags">
      <span class="Exp-lang">React</span>
      <span class="Exp-lang">JavaScript</span>
      <span class="Exp-lang">Material UI</span>
      <span class="Exp-lang">CSS</span>
    </div>
  </div>

  <div class="Exp-div popup-up-section">
    <div class="Exp-top">
      <div class="Exp-position">
        <h5>Frontend Developer Intern</h5>
        <h6>XYZ</h6>
      </div>
      <div class="Exp-date">
        <h6>Jan 2025 - May 2025</h6>
      </div>
    </div>

    <li>Worked on a live project called XYZ Care (XYZ.in)</li>
    <li>
      Implemented website analytics to track user interactions using PostHog,
      Google Analytics, and Facebook Pixel
    </li>
    <li>Developed dynamic slot management system based on bookings</li>

    <div class="Exp-tags">
      <span class="Exp-lang">Node.js</span>
      <span class="Exp-lang">React</span>
      <span class="Exp-lang">JavaScript</span>
      <span class="Exp-lang">TailwindCSS</span>
    </div>
  </div>
</div>
